services/mail/docker-data
services/nginx/log
venv
__pycache__
database
.env
services/mail/docker-data/dms/config
services/mail/docker-data/dms/mail-state
services/mail/docker-data/certbot
data_certbot
services/mail/docker-data/dms/mail-logs
services/mail/docker-data/dms/mail-data/amavis
