{% include 'header.html'%}
<body>
        <!-- site content
        ================================================== -->
        <div class="s-content">
            
            <div>

                <div>
    
                    
                    <!-- article list -->
                    {% for post in posts %}
                    <article class="masonry__brick entry format-standard animate-this">
                        <div class="entry__text">
                            <div class="entry__header">
				    <dl>
				  <dt>
                                <h4 class="entry__title"><a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">
                                    {{ post.title }}
                                </a>
                            </h4>
				  </dt>
				  <dd>- <a > <small>{{ post.date }}</small></a></dd>
				</dl> 
                            
                            </div>
                           
                        </div>
        
                    </article> <!-- article list -->
                    {% endfor %}
                </div> <!-- end masonry -->

            </div> <!-- end masonry-wrap -->

           

        </div> <!-- end s-content -->


        {% include 'footer.html'%}
</body>
