{% include 'header.html'%}
<body>

<!-- site content
        ================================================== -->
        <div class="s-content content">
            <main class="row content__page">
		    <h3>Posts</h3>               
                <article class="column large-full entry format-standard">

                 
                    {% for post in posts %}

			<ul>
	<li>
        <a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}"> {{ post.title }}</a>
				</li>
				</ul>

                    {% endfor %}   
                                                   
                           
        
                    </article> <!-- article list -->
                    



    

                  

                </article> <!-- end column large-full entry-->


            
    
            
       
            </main>

        </div> <!-- end s-content -->



        
        {% include 'footer.html'%}
</body>
