@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,500,600,700|Lora:400,400i,700,700i|IBM+Plex+Sans:300,400,400i,600,700,900");

html {
  font-size: 62.5%; /* Base font size: 10px */
  line-height: 1.15;
  background-color: #0a0d11;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  font-weight: normal;
  line-height: 1;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Heebo", sans-serif;
}

h1 {
  font-size: 4em;
  color: #9381FF;
}

h2 {
  font-size: 3.5em;
  color: #9381FF;
}

h3 {
  font-size: 3em;
  color: #B8B8FF;
}

h4 {
  font-size: 2.5em;
  color: #C8C8FF;
}

h5 {
  font-size: 2em;
  color: #DEDAFD;
}

h6 {
  font-size: 1.5em;
  color: #E2DEFF;
}

a {
  color: #33998a; /* Link color */
  text-decoration: none;
}

a:hover, a:focus {
  color: #da5260; /* Hover/Focus color */
}

p {
  font-size: 1.8rem; /* Paragraph font size */
  line-height: 1.6;
}

ul, ol {
  padding: 1rem;
  list-style: none; /* Removes default list style */
}

pre {
  background: #24273A;
  color: white;
  font-size: 1.5rem;
  border: solid 0.1em #A5ADCB;
  padding: 15px;
  line-height: 1.5;
  overflow: auto; /* Ensures pre tag is scrollable */
}

input, button, select, textarea {
  font-family: inherit; /* Ensures inputs match font style of body */
  line-height: 1.15;
  margin: 0; /* Removes default margin */
}

button {
  cursor: pointer; /* Gives a pointer cursor on hover */
}

textarea {
  overflow: auto; /* Ensures textarea is scrollable */
}

table {
  border-collapse: collapse; /* Ensures borders between cells are merged */
}

img {
  max-width: 100%; /* Responsive images */
  height: auto; /* Maintain aspect ratio */
}

/* Responsive Media Queries */
@media screen and (max-width:600px) {
  h1 {
    font-size: 3.3rem; /* Smaller font size for h1 on small screens */
  }
}

@media screen and (max-width:400px) {
  html {
    font-size: 9.210526315789474px; /* Smaller base font size on very small screens */
  }
}
