

{% include 'header.html'%}





        <!-- site content
        ================================================== -->
        <div class="s-content content">
            <main class="row content__page">
                
                <section class="column large-full entry format-standard">

                    <div class="media-wrap">
                        <div>
                            <img src="images/thumbs/about/about-1000.jpg" srcset="images/thumbs/about/about-2000.jpg 2000w, 
                                      images/thumbs/about/about-1000.jpg 1000w, 
                                      images/thumbs/about/about-500.jpg 500w" sizes="(max-width: 2000px) 100vw, 2000px" alt="">
                        </div>
                    </div>

                    <div class="content__page-header">
                        <h2 >
                        You reached this page so let me tell you about myself
                        </h2>
                        <h2 >
                        From a technological and philosophical point of view.
                        </h2>
                    </div> <!-- end content__page-header -->

                    <p class="lead drop-cap">
                        An individual with a passion for all things cyberpunk.I am deeply interested in the genre and its many sub-genres, 
                        and spends much of my free time exploring the worlds created by cyberpunk authors and filmmakers.  
                    </p>
                    <p>
                        My love for this genre has not only provided endless hours of entertainment, but has also given me a unique perspective
                         on technology, society, and the future.Whether discussing the latest cyberpunk novel or debating the merits 
                         of a classic film,I always up for a conversation about this exciting and thought-provoking genre.
                        
                    </p>

                    <p>
                        As a technologist with a vision for a better future.I am passionate about using my technological skills to develop
                         innovative solutions that protect againstthe dystopian future that many fear.With my deep understanding of technology 
                         and its potential impact on society,I am uniquely positioned to create standards and technologies that can 
                         safeguard our future.
                         
                    <p>
                        Whether it's developing new encryption methods, designing more secure networks,
                        or creating tools to combat disinformation and propaganda,
                        I am dedicated to using technology for the greater good.
                    </p>

                    <hr>

                  
                    <div class="row block-large-1-2 block-tab-full">
                        <h2>When you think of wisdom  As an illusion.Nothing can shake your faith. As long as the earth spins</h2>
                        <div class="column">
                            
                            
                            <img src="/static/pics/Cyberpunk1.jpg" alt="">
                        </div>

                        <div class="column">
                            
                            <img src="/static/pics/Cyberpunk2.jpg" alt="">
                        </div>

                        <div class="column">
                            
                            <img src="/static/pics/Cyberpunk3.jpg" alt="">
                        </div>

                        <div class="column">
                      
                            <img src="/static/pics/Cyberpunk4.jpg" alt="">
                        </div>

                    </div>
                    </div>
                   

                </section>

            </main>

        </div> <!-- end s-content -->

                </section>

            </main>

        </div> <!-- end s-content -->


        {% include 'footer.html'%}
</body>