
{% include 'header.html'%}
<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

        <!-- site content
        ================================================== -->
        <div class="s-content content">
            <main class="row content__page">
                
                <section class="column large-full entry format-standard">
                    <div class="media-wrap">
                        <div class="content__page-header">
                            <p text-align=center class="display-1">
                                Write something ....
                            </p>
                        </div> <!-- end content__page-header -->
                       
                          
                          
                     
                   <p>
                <!-- Create the editor container -->
               
             
                  <label for="title">Title</label><br>
                  <input type="text" id="title" name="title" required ><br>

                  <label for="author">Author</label><br>
                  <input type="text" id="author" name="author" required ><br>
                  
                  <label for="password">PASSCODE</label><br>
                  <input type="password" id="password" name="password" value="{{ request.form['password'] }}" required >

                    <input name="submit" id="submit" class="btn btn--primary btn-wide  " value="submit article" type="submit">
                    <input name="submit" id="pass" class="btn btn--primary btn-wide  " value="get pass" type="submit">
                 
               
               
            
     <div class="editor-container" id="editor">
        <p>Hello Friend!</p>
        <p>If you are the owner, start pouring some knowledge, if not <strong>get lost !</strong> </p>
        <p><br></p>
      </div>
     

   

      <!-- Initialize Quill editor -->
      <script>
        var toolbarOptions = [
  ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
  ['blockquote', 'code-block'],

  [{ 'header': 1 }, { 'header': 2 }],               // custom button values
  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
  [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
  [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
  [{ 'direction': 'rtl' }],                         // text direction

  [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
  [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

  [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
  [{ 'font': [] }],
  [{ 'align': [] }],

  ['clean']                                         // remove formatting button
];

        var quill = new Quill('#editor', {
          modules: {
    toolbar:  toolbarOptions
  },
  theme: 'snow'  
});


        document.getElementById("submit").onclick =  async() => {
          const title = document.getElementById("title").value; 
          const author = document.getElementById("author").value; 
          const password = document.getElementById("password").value;
          const content =  quill.root.innerHTML;
          const doc_dict = {title,author,content,password} 
          const full_doc = JSON.stringify(doc_dict);
          console.log(full_doc)
            fetch("/add_article", {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json; charset=UTF-8"
                },
                body: full_doc
            })

        }
      </script>
 <!-- Create the editor container -->
   </p>                               
                    </div>

                </section>

            </main>

        </div> <!-- end s-content -->

        {% include 'footer.html'%}

</body>