
{% include 'header.html'%}
<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

        <!-- site content
        ================================================== -->
        <div class="s-content content">
            <main class="row content__page">
                
                <section class="column large-full entry format-standard">

                    <div class="media-wrap">
                        <div class="content__page-header">
                            <p text-align=center class="display-1">
                                Add a book ....
                            </p>
                        </div> <!-- end content__page-header -->
                       
                          
                          
                     
                   <p>
                <!-- Create the editor container -->
                <form name="contactForm" id="contactForm" method="post" action="{{url_for('books')}}" autocomplete="off" >
                    <fieldset>
                        <div class="form-field"> 
                <label for="info">Book Info</label><br>

                  <input type="text" name="info"
                  placeholder="Book info"
                  value="{{ request.form['title'] }}" required ></input>  <br>
                </div>

                <div class="message form-field">
                  <label for="title">My thoughts</label><br>
       <textarea name="thoughts" id="cMessage" class="full-width" placeholder="thoughts" value="{{ request.form['thoughts'] }}" required>

    </textarea>
      <br>
                </div>
                
                <div class="form-field">
                  <label for="password">PASSCODE</label><br>

                  <input type="password" name="password"
                  placeholder="password"
                  value="{{ request.form['password'] }}" required ></input>  <br>
                </div>
                   
       

                <input name="submit" id="submit" class="btn btn--primary btn-wide  " value="submit query" type="submit">
                
        </fieldset>
      
      </form>

      <!-- Create the editor container -->
   </p>        
   
   <p text-align=center class="display-1">
    Books I've Read
    {% for book in books: %}
    <hr>    
    <h1>{{ book['info'] }}</h1>
    <p>{{ book['thoughts'] }}</p>
    <hr>    
    {% endfor %}
</p>
                    </div>
                   
                </section>

            </main>

        </div> <!-- end s-content -->
        
        {% include 'footer.html'%}

</body>