{% include 'header.html'%}


  <body>


        <!-- site content
        ================================================== -->
        <div class="s-content content">
            <main class="row content__page">
                
                <article class="column large-full entry format-standard">

                 
                    <div class="content__page-header entry__header">
                        <h1 class="display-1 entry__title">
                            {{ post['title'] }}
                        </h1>
                        <ul class="entry__header-meta">
                            <div class="entry__meta">
                                <li >Author <span> | </span><span class="author">{{ post['author'] }}</span></li>
                                <span class="entry__meta-date">
                                    <a href="single-standard.html">{{ post['created_at'] }}</a>
                                </span>
                            </div> 
                     
                          <!--  <li class="cat-links">
                                <a href="#0">Marketing</a><a href="#0">Management</a>
                            </li>-->
                        </ul>
                    </div> <!-- end entry__header -->

                    <div class="entry__content">

                       
                            {{ post['content']| safe }}.
                     


    

                  

                </article> <!-- end column large-full entry-->


            
    
            
       
            </main>

        </div> <!-- end s-content -->


        {% include 'footer.html'%}

</body>