<!DOCTYPE html>
<html lang="pt-br">
  

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Register form</title>
</head>
<body >
    <div class="text-center">

        <div >
            <br>
            <h1 >Are you lost ?</h1>
            <form method="post" action ="{{url_for('getpass')}}" >
      
                <button name="get pass" id="get pass" class="btn btn--primary btn-wide"   type="submit" >get pass</button> 
                </form>
        </div>

        <div>
            <div class="center">
                <h2  >If you have mistakenly entered this page, there is nothing to do </h2>
            </div>
        </div>

    </div>
</body>
</html>