{% include 'header.html'%}
<body>




        <!-- site content
        ================================================== -->


        

        <div class="s-content content">
            <main class="row content__page">
                
                <section class="column large-full entry format-standard">

                    <div class="media-wrap">
                        <div class="content__page-header">
                            <h1 text-align=center class="display-1">
                                Offgrid8
                            </h1>
                        </div> <!-- end content__page-header -->
                        <div>
                            <img src="static/pics/ka.png" >
                        </div>
                    </div>

                   
                    <p text-align=center class="lead drop-cap">
                        Member n°8 of Kernel Augmentation
                    </p>
                    <p text-align=center class="lead drop-cap">
                        I like tinkering with hardware from a software perspective
                    </p>
                   

                    <h2></h2>

 
    <p>
    Offgrid8,I'm a passionate embedded systems developer.
    </p>
   
   <p>
   I've always had an affinity for tinkering with hardware, 
   and combining this with the software elements of programming to create something new has been a brilliant experience.
   I predominantly use Linux as my main operating system and love exploring its capabilities by utilising languages like
   C, Pythons and Bash, plus numerous Linux-related shells.
   </p>
   
   <p>
   I also have strong interests in electronics and robotics/IoT,
   which enables me to push the boundaries of embedded systems development even further.
   Working on projects that boast a complex mix of both software and hardware is where I excel most.
   All of my current efforts are geared towards becoming an even better embedded systems developer in order to continue 
   creating powerful products for tomorrow's society.
   </p>

                    <hr>

                    <div class="row block-large-1-2 block-tab-full">
                        <h2>When you think of wisdom  As an illusion.Nothing can shake your faith. As long as the earth spins</h2>
                        <div class="column">
                            
                            
                            <img src="/static/pics/Cyberpunk1.jpeg" alt="">
                        </div>

                        <div class="column">
                            
                            <img src="/static/pics/Cyberpunk2.jpeg" alt="">
                        </div>

                        <div class="column">
                            
                            <img src="/static/pics/Cyberpunk3.jpeg" alt="">
                        </div>

                        <div class="column">
                      
                            <img src="/static/pics/Cyberpunk1.jpeg" alt="">
                        </div>

                    </div>

                </section>

            </main>

        </div> <!-- end s-content -->

        {% include 'footer.html'%}

</body>
