{% include 'header.html'%}
<body>




        <!-- site content
        ================================================== -->


        

        <div class="s-content content">
            <main class="row content__page">
                
                <section class="column large-full entry format-standard">

                    <div class="media-wrap">
                        <div class="content__page-header">
                            <h1 text-align=center class="display-1">
                                Offgrid8
                            </h1>
                            <div>
                                <img src="static/pics/ka.png" >
                            </div>
                        </div> <!-- end content__page-header -->
                       
                    </div>

                   
                    <p text-align=center class="lead drop-cap">
                        Member n°8 of Kernel Augmentation
                    </p>
                    <p text-align=center class="lead drop-cap">
                        I like tinkering with hardware from a software perspective
                    </p>
                   

                    <h2></h2>

 
    <p>
    Offgrid8,I'm a passionate embedded systems developer.I've always had an affinity for tinkering with hardware, 
   and combining this with the software elements of programming to create something new has been a brilliant experience.
   I predominantly use Linux as my main operating system and love exploring its capabilities by utilising languages like
   C, Python and shells.
   </p>
   
   <p>
   I also have strong interests in electronics and robotics/IoT,which enables me to push the boundaries of embedded systems
   development even further.Working on projects that boast a complex mix of both software and hardware is where I excel most.
   All of my current efforts are geared towards becoming an even better embedded systems developer in order to continue 
   creating powerful products for tomorrow's society.
   </p>

                    <hr>


        {% include 'footer.html'%}

</body>
