@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Mono", monospace;
  color: #ededed;
}

.container {
  display: flex;
  height: 100%;
  background-color: #ededed;
}

.main-1 {
  background-color: #000;
  min-width: 400px;
  width: 30%;
  display: flex;
  justify-content: center;
  border-right: 1px solid #ededed;
}

.profile {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#profile-circle {
  border-color: #ededed;
  border-width: 3;
  border-style: solid;
  border-radius: 50%;
}

#profile {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 10px;
}

.profile-info {
  margin-top: 55px;
}

#profile-name {
  font-size: 35px;
  margin-bottom: 10px;
}

.profile-text {
  font-size: 25px;
  margin-left: 20px;
  margin-top: 3px;
  word-spacing: 1px;
  letter-spacing: 3px;
}

#last-elem {
  display: flex;
}

/* right section of the screen (on big screens ) */

.main-2 {
  background-color: #0b0b0b;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h1 {
  line-height: 50px;
  font-size: 50px;
}

#right-text {
  font-weight: 400;
  font-size: 29px;
  line-height: 35px;
  margin-top: 20px;
}

.content-wrapper {
  margin-left: 12%;
  margin-top: 10%;
}

.content-wrapper h1 {
  font-size: 40px;
  margin-bottom: 30px;
}
.content-wrapper li {
  margin-left: 50px;
  font-size: 26px;
  width: 60%;
  margin-top: 60px;
  line-height: 30px;
  list-style: none;
  color: #e6e6e6;
}

#paragraph {
  width: 60%;
  font-size: 20px;
  padding-left: 15px;
  line-height: 28px;
  font-family: monospace;
}

.content-wrapper {
  margin-left: 12%;
  margin-top: 10%;
  padding-bottom: 20vh;
}

.content-wrapper h1 {
  font-size: 40px;
  margin-bottom: 30px;
}
.content-wrapper li {
  margin-left: 50px;
  font-size: 20px;
  width: 60%;
  margin-top: 60px;
  line-height: 30px;
  list-style: none;
  color: #e6e6e6;
}

.paragraph {
  margin-top: 2em;
  margin-left: 7em;
}

a {
  all: unset;
  cursor: pointer;
}

#devider {
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 40px;
  border-radius: 40px;
}

.menu {
  margin-top: 40px;
  width: 100%;
  /* display: inline-block; */
  margin-left: 20px;
}

.socials {
  margin-top: 8em;
  width: 100%;
}

.socials > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  border: 2px solid #626262;
  list-style: none;
  width: 7em;
  height: 4em;
  box-sizing: border-box;
  padding: 0.5em;
}

#left-box {
  border-right: none;
}

#center-box {
}

#right-box {
  border-left: none;
}

/* .item {
  color: rgb(0, 167, 89);
  border: none;
  margin-top: 15px;
  display: inline-block;
  transition: 0.5s ease-in-out;
} */

.item {
  position: relative;
  color: #666;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2em;
  width: fit-content;
  margin-top: 20px;
}
.item:after,
.item:before {
  display: inline-block;
  content: "";
  border-bottom: solid 2px #fff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.item:before {
  position: absolute;
  bottom: 1.2em;
  left: 0;
  width: 100%;
}
.ef2:hover:after {
  transition-delay: 150ms;
}

.item:hover:after,
.item:hover:before {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}
/* 
.item:hover {
  border-bottom-style: solid;

  width: fit-content;
  border-color: rgb(0, 167, 89);
} */
/* animation */
