<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/about_style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <title>AymenRC</title>
  </head>
  <script type="javascript" src="animation.js"></script>
  <body>
    <div class="container">
      <section class="main-1">
        <div class="profile">
          <span id="profile-circle">
            <img id="profile" src="static/pics/photo.jpg" alt="my picture" />
          </span>
          <div class="profile-info">
            <h1 id="profile-name">Aymen Rachdi</h1>
            <h4 class="profile-text" id="profile-1">Programmer</h4>
            <h4 class="profile-text" id="profile-2">Networking Enthusiast</h4>
            <div id="last-elem">
              <h4 class="profile-text" id="profile-3">Linux Lover</h4>
              <span id="cursor-blink"></span>
            </div>
          </div>
          <span id="devider"> </span>
          <div class="menu">
            <a href="./"> <h3 class="item">Home</h3> </a
            ><a href="./articles.html"> <h3 class="item">Articles</h3> </a
            ><a href="./contact.html"> <h3 class="item">Contact Me</h3> </a
            ><a href="./about.html">
              <h3 class="item">About</h3>
            </a>
          </div>
          <div class="socials">
            <ul>
              <li class="box" id="left-box"></li>
              <li class="box" id="center-box"></li>
              <li class="box" id="right-box"></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="main-2">
        <div class="content-wrapper">
          <h1>Telecommunications Specialist</h1>
          <ul>
            <li class="paragraph">
              I started programming not long ago, it was 6 years ago since I
              wrote my first code. I was a Linux user and I still cling to this
              great operating system. I think that Linux was a blessing to me
              back then because I learned to do everything using it.
            </li>
            <li class="paragraph">
              I became more and more an experienced Linux user and System
              Administrator. I got into electronics and telecommunications in
              college. I learned a lot of things related to embedded systems and
              iot and want to learn more.
            </li>
            <li class="paragraph">
              *Hardware & System Configuration. Configure kernel modules,
              network parameters. *I am security oriented so all my projects
              takes into measures security and privacy.
            </li>

            <li class="paragraph">
              I am more about the experience and reinforcing my skills. I assure
              you that I will deliver the best services and I will leave no
              imperfections in any given tasks.
            </li>
          </ul>
          <!-- <footer id="home-footer">this is Home footer</footer> -->
        </div>

        <div class="elements"></div>
      </section>
    </div>
  </body>
</html>
