<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/article_style.css" />
    <!-- <title>Articles</title> -->
  </head>
  <body>
    <div class="top"><h1 class="page-title">Put Title</h1></div>
    <div id="container">
      <main id="articles">
        <img src="./background.jpeg" />
        <section id="content">
          <div class="sec">
            <h2>*First Headline</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore
              quas voluptatum unde illo soluta enim, eius praesentium fugit
              recusandae, quis laboriosam animi voluptates dignissimos velit
              repellendus, provident repellat ratione sed? Lorem ipsum, dolor
              sit amet consectetur adipisicing elit. Voluptatum dolore qui nisi
              assumenda, blanditiis optio ex fuga tempore cumque culpa
              laudantium iste possimus excepturi quisquam debitis fugiat
              similique itaque voluptatem!
            </p>
          </div>
          <div class="sec">
            <h2>*Second Headline</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ut, velit harum nihil, deserunt excepturi nulla dolore asperiores possimus ipsum odio error reprehenderit earum, maxime corrupti reiciendis adipisci corporis expedita.
            </p>
          </div>
          <div class="sec">
            <h2>*Third Headline</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus hic, iste est ipsa mollitia adipisci porro modi minima ratione sapiente fuga eos perferendis, 
            </p>
          </div>
          <div class="sec">
            <h2>*Conclusion</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe recusandae, temporibus maxime distinctio impedit quod et cum debitis animi quis, neque eligendi corporis itaque repellendus iste non quisquam sint eveniet
            </p>
          </div>
        </section>
      </main>
      <footer>
          <p>did you enjoy the article ? consider reaching out !</p>
          <a href="contact.html">&#128075</a>
      </footer>
    </div>
  </body>
</html>
