
<body>
{% include 'menu.html'%}
  <main>
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


	  <section class="main-2">
      <div class="site-header">
        <h1 class="site-title">Offgrid8</h1>
        <p class="site-subheader">I like tinkering with hardware from a software perspective</p>

        <img src="static/pics/ka.png" class="responsive">


  <p class="site-subheader">Member n°8 of Kernel Augmentation</p>
        <div class="header-buttons">
          <button id="left-btn">My articles</button>
          <button id="right-btn">hit me up!</button>
        </div>
      </div>
      <div class="elements"></div>
    </section>
  </div>
    <!-- Java Script
    ================================================== -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/main.js"></script>


  </main>
</body>
