
{% include 'header.html'%}
<body>


   <!-- site content
   ================================================== -->
   <div class="s-content content">
       <main class="row content__page">
           
           <section class="column large-full entry format-standard">

               <div class="media-wrap">
                   <div>
                       <img src="images/thumbs/contact/contact-1000.jpg" srcset="images/thumbs/contact/contact-2000.jpg 2000w, 
                                 images/thumbs/contact/contact-1000.jpg 1000w, 
                                 images/thumbs/contact/contact-500.jpg 500w" sizes="(max-width: 2000px) 100vw, 2000px" alt="">
                   </div>
               </div>

               <div class="content__page-header">
                   <h1 class="display-1">
                   Add Article
                   </h1>
               </div> <!-- end content__page-header -->

               <p class="lead drop-cap">
               labore cillum sit in tempor veniam consequat non laborum adipisicing aliqua 
               ea nisi sint.
               </p>

               <p>
               Duis ex ad cupidatat tempor Excepteur cillum cupidatat fugiat nostrud cupidatat 
               </p>

               <div class="row">
                   <div class="column large-six tab-full">
                       <h4>Where to Find Us</h4>

                       <p>
                       1600 Amphitheatre Parkway<br>
                       Mountain View, CA<br>
                       94043 US
                       </p>

                   </div>

                   <div class="column large-six tab-full">
                       <h4>Contact Info</h4>

                       <p>sayhello@typerite.com<br>
                       info@typerite.com <br>
                       Phone: +197 543 2345
                       </p>

                   </div>
               </div>

               <h3 class="h2">Say Hello</h3>
   
               <form name="contactForm" id="contactForm" method="post" action="" autocomplete="off">
                   <fieldset>

                       <div class="form-field">
                           <input name="cName" id="cName" class="full-width" placeholder="Your Name" value="" type="text">
                       </div>

                       <div class="form-field">
                           <input name="cEmail" id="cEmail" class="full-width" placeholder="Your Email" value="" type="text">
                       </div>

                       <div class="form-field">
                           <input name="cWebsite" id="cWebsite" class="full-width" placeholder="Website" value="" type="text">
                       </div>

                       <div class="message form-field">
                           <textarea name="cMessage" id="cMessage" class="full-width" placeholder="Your Message"></textarea>
                       </div>

                       <input name="submit" id="submit" class="btn btn--primary btn-wide btn--large full-width" value="Send Message" type="submit">

                   </fieldset>
               </form> <!-- end form -->

           </section>

       </main>

   </div> <!-- end s-content -->


   {% include 'footer.html'%}
</body>