{% include 'header.html'%}
<body>




        <!-- site content
        ================================================== -->


        

        <div class="s-content content">
            <main class="row content__page">
                
                <section class="column large-full entry format-standard">

                    <div class="media-wrap">
                        <div class="content__page-header">
                            <h1 text-align=center class="display-1">
                                Offgrid8
                            </h1>
                        </div> <!-- end content__page-header -->
                        <div>
                            <img src="static/pics/ka.png" >
                        </div>
                    </div>

                   
                    <p text-align=center class="lead drop-cap">
                        Member n°8 of Kernel Augmentation
                    </p>
                    <p text-align=center class="lead drop-cap">
                        I like tinkering with hardware from a software perspective
                    </p>
                   

                    <h2></h2>

                   
                   
                    <p>  I use Linux as my main operating system and I learned to do everything using it.
                       Years of experience, I became more and more an experienced Linux user and System
                        Administrator. I acquired in depth knowledge electronics and telecommunications. I am
                        security oriented so all my projects takes into measures security and privacy. I am always 
                        seeking a competitive and challenging environment where I can serve the community
                        and establish an enjoyable career for myself.</p>
   

                    <p>I learned a lot of things related to embedded systems and iot and want to learn more. </p>
                    <p> *--> Hardware & System Configuration.</p>

                    <p> *--> Configure kernel modules, network parameters. </p>
                    <p> *--> I am security oriented so all my projects takes into measures security and privacy.</p>

                    <hr>

                    <div class="row block-large-1-2 block-tab-full">
                        <h2>When you think of wisdom  As an illusion.Nothing can shake your faith. As long as the earth spins</h2>
                        <div class="column">
                            
                            
                            <img src="/static/pics/Cyberpunk1.jpeg" alt="">
                        </div>

                        <div class="column">
                            
                            <img src="/static/pics/Cyberpunk2.jpeg" alt="">
                        </div>

                        <div class="column">
                            
                            <img src="/static/pics/Cyberpunk3.jpeg" alt="">
                        </div>

                        <div class="column">
                      
                            <img src="/static/pics/Cyberpunk1.jpeg" alt="">
                        </div>

                    </div>

                </section>

            </main>

        </div> <!-- end s-content -->

        {% include 'footer.html'%}

</body>
