{% include 'header.html'%}
<body>


        <!-- search
        ================================================== -->
        <div class="s-search">

            <div class="search-block">
    
                <form role="search" method="get" class="search-form" action="#">
                    <label>
                        <span class="hide-content">Search for:</span>
                        <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>
    
                <a href="#0" title="Close Search" class="search-close">Close</a>
    
            </div>  <!-- end search-block -->

            <!-- search modal trigger -->
            <a href="#0" class="search-trigger">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);transform:;-ms-filter:"><path d="M10,18c1.846,0,3.543-0.635,4.897-1.688l4.396,4.396l1.414-1.414l-4.396-4.396C17.365,13.543,18,11.846,18,10 c0-4.411-3.589-8-8-8s-8,3.589-8,8S5.589,18,10,18z M10,4c3.309,0,6,2.691,6,6s-2.691,6-6,6s-6-2.691-6-6S6.691,4,10,4z"></path></svg>
                <span>Search</span>
            </a>
            <span class="search-line"></span>

        </div> <!-- end s-search -->


        <!-- site content
        ================================================== -->


        

        <div class="s-content content">
            <main class="row content__page">
                
                <section class="column large-full entry format-standard">

                    <div class="media-wrap">
                        <div>
                            <img src="/static/pics/thumbs/about/about-1000.png" srcset="/static/pics/thumbs/about/about-2000.png 2000w, 
                            /static/pics/thumbs/about/about-1000.png 1000w, 
                            /static/pics/thumbs/about/about-500.png 500w" sizes="(max-width: 2000px) 100vw, 2000px" alt="">
                        </div>
                    </div>

                    <div class="content__page-header">
                        <h1 text-align=center class="display-1">
                            Offgrid8
                        </h1>
                    </div> <!-- end content__page-header -->
                    <p text-align=center class="lead drop-cap">
                        Member n°8 of Kernel Augmentation
                    </p>
                    <p text-align=center class="lead drop-cap">
                        I like tinkering with hardware from a software perspective
                    </p>

                    <h2>This Is my Story</h2>

                    <p>
                   
    I started programming not long ago, it was 6 years ago since I wrote my first code.
     I was a Linux user and I still cling to this great operating system.
      I think that Linux was a blessing to me back then because I learned to do everything using it.
    I became more and more an experienced Linux user and System Administrator. 
   

                    <p>
                        I got into electronics and telecommunications in college.
                        I learned a lot of things related to embedded systems and iot and want to learn more.
                       *Hardware & System Configuration. Configure kernel modules, network parameters. 
                       *I am security oriented so all my projects takes into measures security and privacy.
                       I am more about the experience and reinforcing my skills. 
                       I assure you that I will deliver the best services and I will leave no imperfections in any given tasks.
                    </p>

                    <hr>

                    <div class="row block-large-1-2 block-tab-full">
                        <div class="column">
                            <h4>Who We Are.</h4>
                            <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor veniam reprehenderit aliquip magna nisi consequat aliqua veniam in aute ullamco Duis laborum ad non pariatur sit.</p>
                        </div>

                        <div class="column">
                            <h4>Our Mission.</h4>
                            <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor veniam reprehenderit aliquip magna nisi consequat aliqua veniam in aute ullamco Duis laborum ad non pariatur sit.</p>
                        </div>

                        <div class="column">
                            <h4>Our Vision.</h4>
                            <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor veniam reprehenderit aliquip magna nisi consequat aliqua veniam in aute ullamco Duis laborum ad non pariatur sit.</p>
                        </div>

                        <div class="column">
                            <h4>Our Core Values.</h4>
                            <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor veniam reprehenderit aliquip magna nisi consequat aliqua veniam in aute ullamco Duis laborum ad non pariatur sit.</p>
                        </div>

                    </div>

                </section>

            </main>

        </div> <!-- end s-content -->



</body>
{% include 'footer.html'%}